
.tovalue{
  height: 100vh !important;
  width:100vw !important;
  
}
.valueheading{
 
  padding:2rem;
  
}
.value{
  display: inline-block;
  height:400px;
  margin-top:8rem;
  display: flex;
  background-color: #000;

}
.valuetwo{
  margin-top: 14rem;
  font-family: "Lora", serif;
margin-left: 6rem;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
}
.valueimg{
  height:400px;
  width:1000px;
  margin-left: 10px;
  margin-top: -50px;
  margin-right:100px;
}